<body>
  <!-- Start: Login Form Dark -->
  <div class="page-container">
     <div #flag class="flag"><img src="../../assets/img/Presidencia.png"></div>
  <div class="login-dark">
      <div class="policia-logo"><img src="../../assets/img/LOGO3123247.png"></div>
         <form method="post">

          <h2 class="form-title" >SISTEMA POLICIAL DE CONSULTAS CRIMINOLÓGICAS 2.0</h2>
          <hr/>
          <h2 class="form-title">INICIAR SESIÓN</h2>
          <br>
          <!--<div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>-->
          <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Usuario"></div>
          <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Contraseña"></div>
          <div class="form-group"><button class="btn btn-primary btn-block" type="submit">ENTRAR</button></div>
          <div class="form-group warning"><p>
              ATENCIÓN : Este sistema es propiedad de la Policía Nacional de la República Dominicana y su uso esta permitido únicamente a personal autorizado. Por razones de seguridad, todo uso sera monitoreado, registrado y auditado. Intento de acceso o uso no autorizado sera sancionado por la ley.
          </p></div>
          <a class="forgot" href="#">Forgot your email or password?</a></form>
          <div class="logo-minpre"><img src="../../assets/img/logo_minpre.png"></div>
      </div>

</div>
